{% load static %}
<html>
    <head>
        <title>Fotoblog</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        
    </head>
    <body>
        <div class='main'>
            <div class='toolbar'>
                <div class='h1'>Fotoblog</div>
                <div><h2>{{user|upper}}</h2></div>
                <div> 
                {% if user.profile_photo%}
                <img class="avatar" src={{ user.profile_photo.url }} width=300>
                {% else %}
                <img class="avatar" src="{% static 'images/default_profile.png' %}" width=200>
                {% endif %}
                </div>
                <div><a href="{% url 'home' %}">Home</a></div>
                <div><a href="{% url 'signup' %}">Sign Up</a></div>
                <div><a href="{% url 'logout' %}">Logout</a></div>
                <div><a href="{% url 'photo_upload' %}">New Upload+</a></div>
                <div><a href="{% url 'upload_profile_photo' %}">Change Profile Picture</a></div>
                <div><a href="{% url 'blog_create' %}">Create Blog Post</a></div>
            </div>
            <div class='picbar'> 
            {% block content %}{% endblock %}
            </div>
        </div>
       
        
        
    </body>
</html>